.divAutobiografia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.textoAutobiografia {
    flex: 1;
    margin-right: 20px;
    text-align: right;
    max-width: 30vw;
}

.tituloAutobiografia {
    font-size: 24px;
    font-weight: bold;
    font-family: 'MS Sans Serif';
}

.tiempoAutobiografia {
    font-size: 14px;
    margin-top: 10px;
    font-family: 'MS Sans Serif';
}

.descripcionAutobiografia {
    font-size: 16px;
    margin-top: 10px;
    font-family: 'MS Sans Serif';
}

.iconoAutobiografia {
    width: 150px;
    height: auto;
    margin-right: calc(70vw - 240px);
}

.botonLeer {
    padding: '8 0px';
    margin-top: 12px;
}