.escritorio{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: auto;
    max-width: 100%;
}

.icono {
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s;
    max-width: 100px;
}

.iconoImagen {
    width: 100px;
    height: 100px;
    -o-object-fit: contain;
    object-fit: contain;
}

.iconoNombre {
    margin-top: 5px; 
    font-family: 'MS Sans Serif' 
}
